.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  
  color: var(--accent-color);
}

.logo__studio_dark {
  color: var(--logo-color-dark);
}

.logo__studio_white {
  color: var(--logo-color-light);
}
