@mixin pseudo($content: '', $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex-properties($flex:flex, $align-items: center, $justify-content: center) {
  display: $flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
